### Functions

A function is a named block of code that are designed to do one specific job

When you want to perform a particular task that you have defined in a function, you **call** the function responsible for it

If you need to perform that task multiple times throughout your program, you do not need to type the code all over again; you just call the function dedicated to handling that task

Using functions makes your program easier to write, read, test and fix.

In [1]:
#zen of python

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Types of Functions

1. `User-defined functions` - Functions that we create

2. `Built-in Functions`- Functions already defined in python libraries and we call them directly

### Defining a Function

In [3]:
#example

def greet_user():
    """Dispaly a simple greeting"""
    print("Hello!")
    
greet_user()

Hello!

'def greet_user():'
using the keyword def to inform python that you are defining a function. This is **function** definition

Function definition tells python the name of the function, in the example above, **greet_user**

It also informs python, if applicable, what kind of information the finction needs to perform its tasks or job. It is passed into the function using '()'. In this case, the function need no information to perform its tasks hence empty brackets.

Any indented lines that follow the ':' make up the bosy of the function

'""" Display a simple greeting"""'

Comment called docstring that describes what the function does
If a single short one line, you use #

`print("Hello World!")`
* Function body line(s) indented inside the function.
* Contains set of instructions on the code to be executed.

# comment 

"""Comment"""

"""
This is a multiple line comment
The tripple double quotes 
Used to create multiple line comments
"""

greet_user()`
* When you want to use a function, you call it. 
* A **function call** tells python to execute the indented code in the function body.
* To call a function, write the function name, in our example, `greet_user`, followed by any necessary information in the `()`.

In [5]:
#example 2

def add_numbers(): #defining our function
    #simple function to add numbers
    a=2
    b=5
    sum=a+b
    print(sum)
    
add_numbers() #calling our function

7

### passing information to a function

* The function greet_user can only tell the user Hrllo! but not greet them by name

In [6]:
def greet_user(username):
    #display a simple greeting
    
    print(f" Hello {username}!")
    
greet_user('Eugene')

 Hello Eugene!

* By adding 'username' in our function definition, we are allowing the function to accept any value for *username*
* Expectation: - provide a value for a *username* each time you call it

In [8]:
#second function call
greet_user('Ejay') #changed the username value

 Hello Ejay!

* `parameters` - in the example greet_user(username), *username* is the parameter.
A piece of information the function needs to do its job/task.
* `arguments` - the value *Antonny* and *Melly* are arguments.
A piece of information that's passed from a function call to a function.

In [9]:
#third function call

greet_user()

TypeError: greet_user() missing 1 required positional argument: 'username'

* We must pass in arguments during function calls to avoid errors.

In [12]:
def describe_pet(animal_type, pet_name):
    """ Display information about a pet"""
    print(f"I have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name}.")
    
describe_pet("dog", "Zagadat")

I have a dog.
My dog's name is Zagadat.

* When you call a function, Python must match each argument in the function call with a parameter in the function definition.

In [13]:
#the  arguments match the order of the parameter
describe_pet('zagadat', 'dod') #this is wrong

I have a zagadat.
My zagadat's name is dod.

In [15]:
#alternatively use keyword arguments

describe_pet(pet_name='zagadat', animal_type='dog') #assign arguments to parameters

I have a dog.
My dog's name is zagadat.

In [36]:
#default values

def describe_pet(pet_name, animal_type='dog'):
    """ display information about a pet """
    print(f"I have a {animal_type}.")
    print(f" My {animal_type}'s name is {pet_name}.")

* Defining a **default values** for the parameter `animal_type` and setting it as `Dog`.

In [37]:
describe_pet('scooby')

I have a dog.
 My dog's name is scooby.

If an argument is not provided in the function call, python uses the default value ie `Dog` in the example above.

In [38]:
describe_pet('scooby', 'cat')

I have a cat.
 My cat's name is scooby.

If an argument for a parameter is provided in the function call, python uses the argument value provided.

### Return Values

* A function doesn't have to display its output directly

In [40]:
# example

def add_numbers(a,b):
    
    #sum two numbers
    
    sum= a + b
    
add_numbers(9,6)

* Functions process data then return a value or set of values called 
**return values**

In [44]:
#modify the example above

def add_numbers(a,b):
    #sum the two numbers
    
    sum= a + b
    
    output = f" {a} + {b}= {sum}"
    
    return output

add_numbers(9,6)

' 9 + 6= 15'

In [23]:
#example 2- simple calculator

def calculator(a,b,operator):
    """ simple arithmetic operations"""
    if (operator == "+"):
        sum=a + b
        sum_out = f"{a} + {b} = {sum}"
        return sum_out
    elif (operator == "-"):
        diff = a - b
        diff_out = f"{a} - {b} = {diff}"
        
        return diff_out
    elif (operator == "*"):
        times = a* b
        times_out = f"{a} * {b} = {times}"
        return times_out
    elif (operator == "/"):
        division = a / b
        divide_out = f"{a} / {b} = {division}"
        return divide_out
    else:
        print ("enter maths operators")
    
calculator(9,8, "/")

'9 / 8 = 1.125'

In [34]:
#return a set of values

def alt_calculator (a,b):
    """Alternative Calculator"""
    sum= a + b
    diff= a - b
    multiplication= a * b
    division= a/b
    
    #return a set of values
    return sum, diff, multiplication
    
alt_calculator (9,8)

(17, 1, 72)

In [31]:
alt_calculator_output = alt_calculator(9,8)

print (type(alt_calculator_output))

#accessing individual values in return set of values
#using the index
difference = alt_calculator_output[1]

print(difference)

<class 'tuple'>
1

In [44]:
# sum of squares

def sum_squares(numbers):
    """
    parameters:
        numbers - a list of numbers
    return:
        sum of the squares of the list numbers
    """
    
    #empty list to store square numbers
    squared_numbers = []
    for num in numbers:
        square = num **2
        # add the squared_value to the empty list
        squared_numbers.append(square)
    return squared_numbers
sum_squares([1,4,6])

[1, 16, 36]

### Built-in Functions

* These are functions already built in python

In [45]:
# example

print("Eugene")

Eugene

In [48]:
#input takes in user input

first_name = input("Enter your first name: \n")

Enter your first name:
 Eugene

In [49]:
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"


num = int(input("Enter a number: "))
result = even_or_odd(num)
print(f"The number is {result}.")

Enter a number:  5

The number is Odd.

In [61]:
# Get student name

def get_student_name():
    student_name = input(" Student Name e.g. John Doe \n ")
    return student_name
get_student_name()

 Student Name e.g. John Doe
  Eugene

'Eugene'

In [38]:
#get student scores

def get_scores():
    """get user input"""
    student_score = []
    subjects = ["English","Kiswahili","Maths","Science","GHC"]
    for subject in subjects:
        score = int(input (f"enter {subject} score"))
        student_score.append(score)
    return student_score
get_scores()

enter English score 70
enter Kiswahili score 80
enter Maths score 80
enter Science score 70
enter GHC score 90

[70, 80, 80, 70, 90]

In [63]:
def student_performance():
    """
    Get student name
    Grade student scores
    Grade student scores
    sum of student scores
    return:
        student name, student scores, student grade, student total
    """
    student_name = get_student_name()
    student_scores = get_scores()
    student_grades = []
    #loop through grades
    for score in student_scores:
        if (score>= 70) and (score <= 100):
            grade =  " A "
            student_grades.append(grade)
        elif (score>= 60) and (score<=69):
            grade = " B "
            student_grades.append(grade)
        elif (score>= 50) and (score<=59):
            grade = " C "
            student_grades.append(grade)
        elif (score>= 49) and (score<=40):
            grade = " D "
            student_grades.append(grade)
        elif (score<=39) and (score >=0):
            grade = " E "
            student_grades.append(grade)
        else:
            print ("invalid grade")
            student_grades.append(None)
    
    total = sum(student_scores)
    
    return student_name, student_scores, student_grades, total

student_performance()

 Student Name e.g. John Doe
  Eugene
enter English score 80
enter Kiswahili score 80
enter Maths score 70
enter Science score 75
enter GHC score 90

('Eugene', [80, 80, 70, 75, 90], [' A ', ' A ', ' A ', ' A ', ' A '], 395)

In [78]:
#oerformance for all studnets

student_number = 0
Class_performance = {
    "name":[],
    "English":[],
    "English_grade":[],
    "Kiswahili":[],
    "Kiswahili_grade":[],
    "Maths":[],
    "Maths_grade":[],
    "Science":[],
    "Science_grade":[],
    "GHC":[],
    "GHC_grade":[],
    "total":[]
}
while (student_number<=2):
    individual_student = student_performance()
    individual_student = list(individual_student)
    Class_performance["name"].append (individual_student[0])
    Class_performance["English"].append (individual_student[1][0])
    Class_performance["English_grade"].append (individual_student[2][0])
    Class_performance["Kiswahili"].append (individual_student[1][1])
    Class_performance["Kiswahili_grade"].append (individual_student[2][1])
    Class_performance["Maths"].append (individual_student[1][2])
    Class_performance["Maths_grade"].append (individual_student[2][2])
    Class_performance["Science"].append (individual_student[1][3])
    Class_performance["Science_grade"].append (individual_student[2][3])
    Class_performance["GHC"].append (individual_student[1][4])
    Class_performance["GHC_grade"].append (individual_student[2][4])
    Class_performance["total"].append (individual_student[3])
    student_number +=1

 Student Name e.g. John Doe
  Eugene
enter English score 80
enter Kiswahili score 80
enter Maths score 80
enter Science score 80
enter GHC score 80
 Student Name e.g. John Doe
  Xhaka
enter English score 80
enter Kiswahili score 90
enter Maths score 90
enter Science score 80
enter GHC score 80
 Student Name e.g. John Doe
  Uzi
enter English score 89
enter Kiswahili score 90
enter Maths score 70
enter Science score 70
enter GHC score 70

In [79]:
print(Class_performance)

{'name': ['Eugene', 'Xhaka', 'Uzi'], 'English': [80, 80, 89], 'English_grade': [' A ', ' A ', ' A '], 'Kiswahili': [80, 90, 90], 'Kiswahili_grade': [' A ', ' A ', ' A '], 'Maths': [80, 90, 70], 'Maths_grade': [' A ', ' A ', ' A '], 'Science': [80, 80, 70], 'Science_grade': [' A ', ' A ', ' A '], 'GHC': [80, 80, 70], 'GHC_grade': [' A ', ' A ', ' A '], 'total': [400, 420, 389]}

In [83]:
import pandas as pd
df = pd.DataFrame(Class_performance)
df

,name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science,Science_grade,GHC,GHC_grade,total
0,Eugene,80,A,80,A,80,A,80,A,80,A,400
1,Xhaka,80,A,90,A,90,A,80,A,80,A,420
2,Uzi,89,A,90,A,70,A,70,A,70,A,389

In [64]:
#how tClass_performanceadd key value pair in a dictionary
Class_performance = {}
Class_performance["name"] = "Eugene"
print(Class_performance)

{'name': 'Eugene'}