In [2]:
#loops are a key mechnism to achieve repetiotion of tasks efficiently e.g mpesa procedures of sending money
#consider scenerios counting 1 to 10
#repetition is used to automate tasks that require repeated execution
print(1)
print(2)
print(3)

1
2
3

In [5]:
#programming loops to automate repetitive tasks
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
#using while loops
count=0

while count<5:
    print("number:", count)
    count +=1 #+=1 means increase by 1

number: 0
number: 1
number: 2
number: 3
number: 4

In [11]:
#Aloop is a prgramming construct that enabkes the repeated execution of a specific block of code
# Loops are used when you want to automate a task that needs to be performed multiple times
#They control the flow of the program allowing certain code too be executed repeatedly until a **condition is met**

#creating a list if numbers
numbers=[1,2,3,4,5,6,7,8,9]

#create empty list

even_numbers=[]
odd_numbers=[]

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9

In [47]:
#adding even numbers
even_numbers=[]
odd_numbers=[]
for num in numbers:
    if (num % 2 ==0):
        even_numbers.append(num)
    elif(num%2==1):
        odd_numbers.append(num)
      
print(even_numbers)
print(odd_numbers)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [45]:
#sum the numbers between 1 and 10

sum = 1+2+3+4+5+6+7+8+9+10

print ()

In [46]:
#use a loop to find the sum of numbers between 1 and 10

#declare a variable to store the sum

sum=0

#creating a for loop
for num in range(1,11): #range(1,11)>> all numbers between 1 and 11 excluding 11
    sum += num
print(sum)

55

#control flow
#loops influence the order in which instructions are executed
#when a loop is encountered, the program enters a loop body, executing the contained code

```
loop made of a condition:
    contained block of 
    code to be executed
    when condition is true
program exits the loop
```
#at each iteration, the program checks the loop condition. If the condition remains true, the loop body is executed again.
#if it becomes false, the loop condition/program exits the loop

In [35]:
 #example - assume the statements below are blocks of code
print("This is an example of a loop")
print("We are demonstrating while loops")

#loop to simulate a count down
countdown=5

#our program meets a loop block>> while loop

while (countdown>0):
    #code to execute when condition is true
    print(f"countdown value: {countdown}!!")
    countdown -=1
#program exits the loop when condition is no longer met
print("exit loop!! and program continues")

This is an example of a loop
We are demonstrating while loops
countdown value: 5!!
countdown value: 4!!
countdown value: 3!!
countdown value: 2!!
countdown value: 1!!
exit loop!! and program continues

##types of loops- there are 2 main types of loops in python
#...for loops... and ...while loops...
#type of loop you choose depends on whther you know the number of iterations in advance or if it depends on a condition

#when you know the number of iterations, use while loop, when you don't, use a for loop

###basic syntax

#for signals the start of a for loop

#item is a variable that represents the current item in the sequence during each iteration

"in" is a key word used to specify that you are iterating *in* the given sequence

*sequence: a collection of items that you want to iterate over e.g list, string, tuplr or range

":" signifies the start of an indented code block that will be executed for each iteration of the loop

inside the indented code block, you place the actions or operations that you want to perform on each item in the sequence. The loop will automatically iterate through the entire sequence, executing the code block for each item.

In [2]:
#code demonstration
#list of high courts in Kenya

high_court=['Kisumu', 'Kisii','Nyamira','Migori','Kitale']
for court in high_court:
    #code block to execute each item
    print (court)
    if (court=='Kitale'):
        break;

Kisumu
Kisii
Nyamira
Migori
Kitale

In [3]:
4==5

False

### sequence types
#it refers to data structures that hold collection of elements, where each element is accessible  by an index or a key.

*These. elements are ordered , meaning they have a specific position within the sequence

In [5]:
#list
print(high_court)

#accessing items/elements in a list by index

print(high_court[3])

['Kisumu', 'Kisii', 'Nyamira', 'Migori', 'Kitale']
Migori

In [14]:
#looping through the list court
for court in high_court:
        #code to execute
        
        lower_case= court.lower()
        print(lower_case)

kisumu
kisii
nyamira
migori
kitale

In [15]:
#tuple
#it is similar to list but they are imutable meaning the contents cannot be changed after creation
#syntax tuple_name=(item1,item2,...)

noise_makers=('Kocheli','solo','nyambane')
print(noise_makers)

('Kocheli', 'solo', 'nyambane')

In [43]:
#loop through items in a tuple
for noise_maker in noise_makers:
    #code to be executed
    
    print(noise_maker)

Kocheli
solo
nyambane

In [44]:
#accessing items in a tuple

print(noise_makers[0])

Kocheli

In [1]:
#iterate through a string for means for character in judticiart, print judiciary

word="judiciary"

for char in word:
    print(char)

j
u
d
i
c
i
a
r
y

In [3]:
#empty list to store chars

word_chars=[]

for char in word:
    word_chars.append(char)
print(word_chars)

['j', 'u', 'd', 'i', 'c', 'i', 'a', 'r', 'y']

In [5]:
#range is a sequence of numbers with a 

#empty list to store odd numbers

odd_num=[]
for num in range(1,10):
    if (num%2==1):
        odd_num.append(num)
print(odd_num)

[1, 3, 5, 7, 9]

### Loop Body 

Refers to the block of code that is execcuted repeatedly for each iteration of loop

In programming, a loop is designed to perform repeated tasks automatically and the loop body contains the instructions that define what those actions are

### important points to consider

1. indentation- the loop bodu is indented to indicate that is the part of the loop. This means that it defines the scope of the loop body

2. iteration- loop body is executed once for each itemin the sequence that contains the elements upon which the instructions and execution will be repeated

3. accessing loop variable- the loop variable value can be accessed inside the loop body to perform specific actions to that value.

4. manipulation-  inside the loop body, you can perform various operations on the loop variable or use it to interact with other parts of the program

In [7]:
#example
# ** is an exponent

for num in range(1,6):
    square=num ** 2
    print(f"the square of {num}= {square}")

the square of 1= 1
the square of 2= 4
the square of 3= 9
the square of 4= 16
the square of 5= 25

### 'range()'

1. range is a function commonly used when working with loops
2. It generates a sequence of numbers within a specified range, which can be used for various purposes, e.g., iterating through a loop of certain numbers or creating a list of numbers
3. 'range()' takes up to three arguments:


* start(inclusive, optional)- The starting value of the sequence. If ommitted, the sequence starts from zero by default.

* stop(exclusive)- this is the ending value of the sequnce. The sequence will go up to the value but not include the value in the sequnece e.g if stop is 50 and the start is zero, the sequence will be all the numbers including 0 to 49 but not 50.

* step(optional) - the difference between consequtive values in the sequence. By default, the value of the step is 1.

* syntax 
```range (start, stop, step)

### Basic range

* only using stop to generate a sequence of numbers from 0 to 10
* Remember if you don't include start and step, python will automatically pick the numbers 0 and 1 as the default values for the stop and step

In [16]:
# from 0 to 10

for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [17]:
# specifying start and stop
#generate a sequence where we specify the start of the sequnece

#example: numbers between 30 and 40

for num in range (30,40):
    print(num)

30
31
32
33
34
35
36
37
38
39

In [19]:
#specifying start, stop and step

#step is the difference between 2 consecutive numbers

#example: all numbers divisible by 3 between 3 and 30

#the example (6,31,3) means we are starting at 6 , stop at 30 and step the difference between to consecutive values

for num in range(6,31,3):
    print(num)

6
9
12
15
18
21
24
27
30

In [21]:
even_numbers=[]
for num in range(0,101,2):
    even_numbers.append(num)
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [23]:
odd_numbers=[]
for num in range(1,101,2):
    odd_numbers.append(num)
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

### Nested Loops

In [24]:
print(student_names)

['Eugene', 'Kirui', 'Dominic', 'Lumumba']

In [25]:
item_1=student_names[0]

for letters in item_1:
    print(letters)
print()
for students in student_names:
    print(students)

E
u
g
e
n
e

Eugene
Kirui
Dominic
Lumumba

In [29]:
#nested loop - a loop within a loop i.e., the second loop is within the loop body of the first loop

for student in student_names: #first loop
    for letter in student: #second loop
        print(letter)
    print() #line break after every line

E
u
g
e
n
e

K
i
r
u
i

D
o
m
i
n
i
c

L
u
m
u
m
b
a

def greet_students(student_name):
    message=(f"Hello {student_name}, welcome to training!!")
    
    return print(message)
greet_students('Eugene')

In [46]:
#define the number of rows
num_rows=4

# outer loop for rows

for i in range(num_rows):
    #inner loop for printing asterics
    for j in range(i+1):
        print("*", end=" ")
    #move to next line after each row is printed
    print()

*
* *
* * *
* * * *

In [45]:
for i in range(num_rows):
    #inner loop for printing asterics
    for j in range(i,4,1):
        print("*", end=" ")
    #move to next line after each row is printed
    print()

* * * *
* * *
* *
*

In [14]:
student_names=["Eugene", "Kirui", "Dominic", "Lumumba"]
for name in student_names:
    greet_students(name)

Hello Eugene, welcome to training!!
Hello Kirui, welcome to training!!
Hello Dominic, welcome to training!!
Hello Lumumba, welcome to training!!